@media (max-width: 911px) {
    

    .head{
    padding: 16px 23px 0px;
    }

    .head_button{
        display: none;
    }
    .head_nav{
        display: none;
    }
    .head-link{
        display: none;
    }

    .meniu{
        display: inline-block;
    }

    .main {
        display:flex;
        flex-flow: column;
        padding: 32px 23px 144px;
    }
    main img {
        order: 1;
    }

    .main_container{
        order: 2;
    }

    main h1{

        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;

    }
    main h2{
        padding-right: 0px;
    }

    .footer{
        
        display:flex;
        flex-flow: column;
        margin: 0px 23px;
    }

    .footer_item {
        display: inline-flex;
        

    
        




    



















}